# Coronavirus by Country (Pandas)

### Utilize Pandas

In [1]:
import wget
import pandas as pd

covid = pd.read_csv('/Users/faris/Downloads/COVID-19 Coronavirus.csv.xls',header=None)
covid

,0,1,2,3,4,5,6,7,8,9
0,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
1,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743132
2,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275057509
3,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587215976
4,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382270638
...,...,...,...,...,...,...,...,...,...,...
221,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.54185022
222,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10
223,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.15178723
224,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251119605
225,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209106581

In [2]:
covid.rename(columns={0:'Country', 
                      1:'Other names',
                      2:'ISO',
                      3:'Population',
                      4:'Continent',
                      5:'Total Cases',
                      6:'Total Deaths',
                      7:'TC1Mpop',
                      8:'TD1Mpop',
                      9:'Death percentage'},inplace=True)
covid

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
0,Country,Other names,ISO 3166-1 alpha-3 CODE,Population,Continent,Total Cases,Total Deaths,Tot Cases//1M pop,Tot Deaths/1M pop,Death percentage
1,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743132
2,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275057509
3,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587215976
4,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382270638
...,...,...,...,...,...,...,...,...,...,...
221,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.54185022
222,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10
223,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.15178723
224,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251119605
225,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209106581

In [3]:
covid = covid.drop([0])
covid

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
1,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743132
2,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275057509
3,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587215976
4,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382270638
5,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438434
...,...,...,...,...,...,...,...,...,...,...
221,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.54185022
222,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10
223,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.15178723
224,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251119605
225,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209106581

In [4]:
covid.dtypes

Country             object
Other names         object
ISO                 object
Population          object
Continent           object
Total Cases         object
Total Deaths        object
TC1Mpop             object
TD1Mpop             object
Death percentage    object
dtype: object

In [5]:
covid[['Population', 'Total Cases', 'Total Deaths', 'TC1Mpop', 'TD1Mpop', 'Death percentage']] = covid[['Population','Total Cases', 'Total Deaths', 'TC1Mpop', 'TD1Mpop', 'Death percentage']].apply(pd.to_numeric)
covid.dtypes

Country              object
Other names          object
ISO                  object
Population            int64
Continent            object
Total Cases           int64
Total Deaths          int64
TC1Mpop               int64
TD1Mpop               int64
Death percentage    float64
dtype: object

In [6]:
covid.isnull().sum()

Country             0
Other names         1
ISO                 0
Population          0
Continent           0
Total Cases         0
Total Deaths        0
TC1Mpop             0
TD1Mpop             0
Death percentage    0
dtype: int64

In [7]:
covid[covid.isnull().any(axis=1)]

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
136,Montenegro,NaN,MNE,628205,Europe,233326,2705,371417,4306,1.159322

In [8]:
covid = covid.dropna(axis=0, how='any')
covid

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
1,Afghanistan,Afghanistan,AFG,40462186,Asia,177827,7671,4395,190,4.313743
2,Albania,Albania,ALB,2872296,Europe,273870,3492,95349,1216,1.275058
3,Algeria,Algeria,DZA,45236699,Africa,265691,6874,5873,152,2.587216
4,Andorra,Andorra,AND,77481,Europe,40024,153,516565,1975,0.382271
5,Angola,Angola,AGO,34654212,Africa,99194,1900,2862,55,1.915438
...,...,...,...,...,...,...,...,...,...,...
221,Wallis and Futuna,Wallis and Futuna Islands,WLF,10894,Oceania,454,7,41674,643,1.541850
222,Western Sahara,Western Sahara,ESHÂ,623031,Africa,10,1,16,2,10.000000
223,Yemen,Yemen,YEM,30975258,Asia,11806,2143,381,69,18.151787
224,Zambia,Zambia,ZMB,19284482,Africa,317076,3967,16442,206,1.251120
225,Zimbabwe,Zimbabwe,ZWE,15241601,Africa,246525,5446,16174,357,2.209107

In [9]:
mean_total = covid['Total Cases'].mean()
mean_total

2193493.308035714

In [10]:
covid[covid['Total Cases'] > mean_total]

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
8,Argentina,Argentina,ARG,45921761,Latin America and the Caribbean,9041124,128065,196881,2789,1.416472
11,Australia,Australia,AUS,26017767,Oceania,4680816,6384,179908,245,0.136386
12,Austria,Austria,AUT,9096360,Europe,3887355,15985,427353,1757,0.411205
19,Belgium,Belgium,BEL,11677924,Europe,3851048,30826,329772,2640,0.800457
27,Brazil,Brazil,BRA,215204501,Latin America and the Caribbean,29999816,660269,139401,3068,2.200910
36,Canada,Canada,CAN,38321435,Northern America,3499226,37690,91312,984,1.077095
42,Chile,Chile,CHL,19403451,Latin America and the Caribbean,3486653,56750,179692,2925,1.627635
44,Colombia,Colombia,COL,51832231,Latin America and the Caribbean,6085926,139660,117416,2694,2.294803
53,Czechia,Czech Republic,CZE,10743762,Europe,3830631,39720,356545,3697,1.036905
54,Denmark,Denmark,DNK,5827911,Europe,2919428,5762,500939,989,0.197367
71,France,France,FRA,65526369,Europe,25997852,142506,396754,2175,0.548145
77,Germany,Germany,DEU,84252947,Europe,21646375,130563,256921,1550,0.603163
80,Greece,Greece,GRC,10333930,Europe,3077711,27684,297826,2679,0.899500
93,India,India,IND,1403754381,Asia,43029044,521388,30653,371,1.211712
94,Indonesia,Indonesia,IDN,278586508,Asia,6019981,155288,21609,557,2.579543
95,Iran,United Kingdom,IRN,85874667,Asia,7167646,140315,83466,1634,1.957616
96,Iraq,Iraq,IRQ,41801625,Asia,2320260,25173,55506,602,1.084922
99,Israel,Israel,ISR,9326000,Asia,3943153,10530,422813,1129,0.267045
100,Italy,Italy,ITA,60306185,Europe,14846514,159784,246186,2650,1.076239
103,Japan,Japan,JPN,125798669,Asia,6653841,28248,52893,225,0.424537
122,Malaysia,Malaysia,MYS,33091831,Asia,4246467,35099,128324,1061,0.826546
131,Mexico,Mexico,MEX,131303955,Latin America and the Caribbean,5665376,323212,43147,2462,5.705041
143,Netherlands,Netherlands,NLD,17201245,Europe,7908701,22016,459775,1280,0.278377
159,Peru,Peru,PER,33775745,Latin America and the Caribbean,3548559,212328,105062,6286,5.983499
160,Philippines,Philippines,PHL,112133868,Asia,3679485,59343,32813,529,1.612807
161,Poland,Poland,POL,37774045,Europe,5969621,115345,158035,3054,1.932200
162,Portugal,Portugal,PRT,10144662,Europe,3604114,21693,355272,2138,0.601896
165,Romania,Romania,ROU,19013049,Europe,2860094,65090,150428,3423,2.275799
166,Russia,Russian Federation,RUS,146044010,Europe,17896866,369708,122544,2531,2.065770
168,S. Korea,Republic of Korea,KOR,51346429,Asia,13874216,17235,270208,336,0.124223
188,South Africa,South Africa,ZAF,60617532,Africa,3722954,100050,61417,1651,2.687382
190,Spain,Spain,ESP,46786482,Europe,11551574,102541,246900,2192,0.887680
196,Sweden,Sweden,SWE,10209507,Europe,2487852,18331,243680,1795,0.736820
197,Switzerland,Switzerland,CHE,8765420,Europe,3490876,13715,398255,1565,0.392881
202,Thailand,Thailand,THA,70106601,Asia,3711595,25418,52942,363,0.684827
208,Turkey,Turkey,TUR,85927644,Asia,14894731,98157,173340,1142,0.659005
212,UK,United Kingdom of Great Britain and Northern I...,GBR,68510300,Europe,21216874,165570,309689,2417,0.780369
213,Ukraine,Ukraine,UKR,43273831,Europe,4968881,107980,114824,2495,2.173125
215,USA,United States of America,USA,334400597,Northern America,81839052,1008222,244734,3015,1.231957
220,Vietnam,Viet Nam,VNM,98871712,Asia,9818328,42600,99304,431,0.433882

In [11]:
covid[covid['Total Cases'] > mean_total].Population.mean()

100472671.225

In [12]:
covidfinal = covid.sort_values('Total Cases', ascending = False)
covidfinal.head()

,Country,Other names,ISO,Population,Continent,Total Cases,Total Deaths,TC1Mpop,TD1Mpop,Death percentage
215,USA,United States of America,USA,334400597,Northern America,81839052,1008222,244734,3015,1.231957
93,India,India,IND,1403754381,Asia,43029044,521388,30653,371,1.211712
27,Brazil,Brazil,BRA,215204501,Latin America and the Caribbean,29999816,660269,139401,3068,2.200910
71,France,France,FRA,65526369,Europe,25997852,142506,396754,2175,0.548145
77,Germany,Germany,DEU,84252947,Europe,21646375,130563,256921,1550,0.603163