# Daily Calories vs. Daily Hours of Exercise

### Utilize NumPy and Pandas

In [1]:
import random

data = []

for i in range(0,365):
    x = random.randint(500,5000)
    data.append(x)
    
print(data)

[3412, 1582, 2725, 3944, 3371, 3167, 3191, 4056, 1974, 4677, 4575, 1498, 3919, 4215, 1765, 4587, 4508, 1727, 4001, 2161, 3626, 3791, 968, 503, 1989, 2413, 4010, 4660, 778, 4672, 4266, 4249, 1583, 3866, 988, 2126, 1453, 4114, 4683, 2908, 4956, 3856, 3132, 1151, 4530, 4989, 1088, 4304, 3256, 2561, 538, 4759, 2764, 4765, 3981, 1987, 2262, 3571, 2723, 1360, 629, 1046, 1612, 1227, 1937, 4419, 4666, 4092, 3492, 2618, 4032, 2138, 1984, 3933, 1450, 4889, 4292, 1793, 1160, 3823, 4279, 870, 4428, 4125, 1349, 1647, 2625, 2125, 2887, 4556, 1862, 3000, 4260, 4896, 667, 4916, 2809, 1625, 1557, 960, 4620, 1789, 3964, 981, 3158, 4489, 3258, 1553, 2155, 870, 3627, 665, 2447, 3796, 834, 1761, 4228, 4405, 1355, 2825, 4655, 2376, 1528, 2250, 3621, 2058, 2260, 1363, 3753, 898, 1988, 1285, 2647, 2628, 4867, 2226, 3330, 4045, 1444, 3661, 971, 2648, 2271, 2582, 4679, 1064, 2041, 1324, 1506, 3202, 4844, 4686, 564, 1041, 2990, 1646, 1020, 2996, 2591, 4882, 1287, 1521, 2446, 1928, 1706, 3676, 4189, 3669, 1710, 4933, 3688, 3246, 4138, 4291, 3257, 2453, 3835, 673, 2339, 749, 1795, 2659, 4485, 1003, 4382, 1170, 3603, 2975, 2378, 2347, 4704, 3507, 4836, 2632, 2083, 4358, 3427, 1119, 3989, 1531, 4101, 3377, 3694, 2820, 3882, 1737, 3590, 1309, 1611, 3744, 849, 1634, 2852, 2503, 3852, 2736, 4138, 2187, 2439, 2779, 862, 1877, 1799, 1324, 3451, 4499, 1437, 4461, 1748, 2243, 1450, 1154, 634, 4790, 2826, 1264, 881, 857, 3360, 4452, 2820, 2170, 3597, 2640, 3659, 4332, 782, 2800, 1523, 1861, 3959, 2306, 4472, 3101, 4008, 555, 2074, 3159, 1158, 4115, 1634, 4650, 1450, 2849, 3011, 2787, 4330, 973, 3686, 3574, 889, 4512, 3044, 535, 4947, 589, 2964, 4168, 3064, 1991, 3886, 1103, 3369, 1224, 2002, 3918, 2994, 4589, 774, 3722, 3896, 4684, 4523, 1691, 1831, 2571, 645, 4565, 4117, 3153, 2374, 854, 4343, 1763, 4134, 1706, 2083, 4707, 4852, 2170, 2611, 4511, 2634, 2810, 2704, 1720, 2931, 532, 3903, 3058, 3266, 2482, 1182, 724, 1302, 561, 2286, 832, 2232, 735, 4528, 3687, 4585, 1632, 1963, 4827, 4815, 4903, 2464, 4569, 1377, 791, 3540, 921, 3242, 3239, 3381, 4992, 1251, 4652, 3743, 3154, 506, 3171, 3539, 2611, 2395, 1814, 2477, 3711, 4049, 1922, 1503, 2202, 4590]

In [2]:
import numpy as np

calories = np.array(data)
print(calories)

[3412 1582 2725 3944 3371 3167 3191 4056 1974 4677 4575 1498 3919 4215
 1765 4587 4508 1727 4001 2161 3626 3791  968  503 1989 2413 4010 4660
  778 4672 4266 4249 1583 3866  988 2126 1453 4114 4683 2908 4956 3856
 3132 1151 4530 4989 1088 4304 3256 2561  538 4759 2764 4765 3981 1987
 2262 3571 2723 1360  629 1046 1612 1227 1937 4419 4666 4092 3492 2618
 4032 2138 1984 3933 1450 4889 4292 1793 1160 3823 4279  870 4428 4125
 1349 1647 2625 2125 2887 4556 1862 3000 4260 4896  667 4916 2809 1625
 1557  960 4620 1789 3964  981 3158 4489 3258 1553 2155  870 3627  665
 2447 3796  834 1761 4228 4405 1355 2825 4655 2376 1528 2250 3621 2058
 2260 1363 3753  898 1988 1285 2647 2628 4867 2226 3330 4045 1444 3661
  971 2648 2271 2582 4679 1064 2041 1324 1506 3202 4844 4686  564 1041
 2990 1646 1020 2996 2591 4882 1287 1521 2446 1928 1706 3676 4189 3669
 1710 4933 3688 3246 4138 4291 3257 2453 3835  673 2339  749 1795 2659
 4485 1003 4382 1170 3603 2975 2378 2347 4704 3507 4836 2632 2083 4358
 3427 1119 3989 1531 4101 3377 3694 2820 3882 1737 3590 1309 1611 3744
  849 1634 2852 2503 3852 2736 4138 2187 2439 2779  862 1877 1799 1324
 3451 4499 1437 4461 1748 2243 1450 1154  634 4790 2826 1264  881  857
 3360 4452 2820 2170 3597 2640 3659 4332  782 2800 1523 1861 3959 2306
 4472 3101 4008  555 2074 3159 1158 4115 1634 4650 1450 2849 3011 2787
 4330  973 3686 3574  889 4512 3044  535 4947  589 2964 4168 3064 1991
 3886 1103 3369 1224 2002 3918 2994 4589  774 3722 3896 4684 4523 1691
 1831 2571  645 4565 4117 3153 2374  854 4343 1763 4134 1706 2083 4707
 4852 2170 2611 4511 2634 2810 2704 1720 2931  532 3903 3058 3266 2482
 1182  724 1302  561 2286  832 2232  735 4528 3687 4585 1632 1963 4827
 4815 4903 2464 4569 1377  791 3540  921 3242 3239 3381 4992 1251 4652
 3743 3154  506 3171 3539 2611 2395 1814 2477 3711 4049 1922 1503 2202
 4590]

In [3]:
calories.shape

(365,)

In [4]:
calories[0]

3412

In [5]:
calories.mean()

2782.9671232876713

In [6]:
import random

exercise = []

for i in range(0,365):
    x = random.randint(0,12)
    exercise.append(x)

yearly_data = np.array([exercise, calories])

yearly_data

array([[  11,    4,    3,    3,    8,    5,    8,    3,    2,    0,    7,
           0,   10,    9,    4,   11,    0,    1,   11,   10,    2,    0,
           7,    2,    5,    1,   10,    4,    9,    9,   12,   11,    5,
           0,    4,    0,    9,    1,   11,    4,   12,    2,   12,    6,
          12,    5,    7,    9,    8,    1,    0,    7,    3,    5,   12,
           6,   10,    3,    6,    7,   11,    6,    3,    5,    0,    3,
           5,    5,    5,    6,    3,    8,    7,   10,   12,    2,    1,
          12,    4,    4,   10,    9,    5,   11,    7,    0,    7,    8,
          10,    2,    0,   10,    8,   12,    6,    1,   10,    6,   12,
          12,   12,    0,    3,   11,    1,    2,   10,   10,   10,    4,
           2,   10,    3,    5,   10,    1,    8,    4,    2,    8,    8,
          10,    9,    8,    7,    5,    9,    6,   12,    9,    2,   11,
           0,    0,   11,    9,    8,    6,    5,    9,   11,   10,    8,
           7,    6,   10,    0,    3,    2,    5,    5,   11,    5,    2,
           0,   12,    5,    1,    9,    3,    4,    4,    7,    3,    9,
           2,   11,    4,    1,    5,    1,    9,    1,    6,    0,   12,
           1,    6,    6,   10,    3,   11,    9,    0,    0,    8,    6,
          10,   11,    3,    7,    6,    7,    5,    1,    2,   11,   12,
           6,    6,    7,    5,    8,    7,   10,    4,    0,    2,   11,
           1,    7,    6,    7,    8,    7,    5,    7,    1,    6,    9,
           9,    2,    7,   10,    4,    1,    4,    8,    7,    4,    6,
           8,    6,   11,    8,    5,   11,   10,    7,   11,    9,    7,
          12,    6,    1,    2,    9,    8,   10,    1,    9,    8,   11,
           2,   12,   10,    8,    4,    7,   12,   11,    6,    6,    0,
          11,    3,    7,    1,   12,    5,    9,    2,    1,   11,    4,
           1,    3,    6,    2,   12,    3,   12,   12,    4,    1,    2,
          11,   10,    7,    9,    3,   10,    1,    1,    5,   10,   10,
           9,    4,    8,    2,   10,   12,    0,   11,   12,    3,   11,
           0,   11,    9,    9,    3,    6,   11,    4,    7,    9,    1,
           4,    2,   11,   10,   10,    5,    0,    5,    0,    3,    4,
           1,    9,   12,    2,   11,   12,   12,    6,   12,    7,   11,
           7,    2,    8,    1,    3,    7,    9,    0,    3,    2,    6,
          10,    3,    7,    7,    2,   12,    7,   11,    5,    5,    8,
          11,   10],
       [3412, 1582, 2725, 3944, 3371, 3167, 3191, 4056, 1974, 4677, 4575,
        1498, 3919, 4215, 1765, 4587, 4508, 1727, 4001, 2161, 3626, 3791,
         968,  503, 1989, 2413, 4010, 4660,  778, 4672, 4266, 4249, 1583,
        3866,  988, 2126, 1453, 4114, 4683, 2908, 4956, 3856, 3132, 1151,
        4530, 4989, 1088, 4304, 3256, 2561,  538, 4759, 2764, 4765, 3981,
        1987, 2262, 3571, 2723, 1360,  629, 1046, 1612, 1227, 1937, 4419,
        4666, 4092, 3492, 2618, 4032, 2138, 1984, 3933, 1450, 4889, 4292,
        1793, 1160, 3823, 4279,  870, 4428, 4125, 1349, 1647, 2625, 2125,
        2887, 4556, 1862, 3000, 4260, 4896,  667, 4916, 2809, 1625, 1557,
         960, 4620, 1789, 3964,  981, 3158, 4489, 3258, 1553, 2155,  870,
        3627,  665, 2447, 3796,  834, 1761, 4228, 4405, 1355, 2825, 4655,
        2376, 1528, 2250, 3621, 2058, 2260, 1363, 3753,  898, 1988, 1285,
        2647, 2628, 4867, 2226, 3330, 4045, 1444, 3661,  971, 2648, 2271,
        2582, 4679, 1064, 2041, 1324, 1506, 3202, 4844, 4686,  564, 1041,
        2990, 1646, 1020, 2996, 2591, 4882, 1287, 1521, 2446, 1928, 1706,
        3676, 4189, 3669, 1710, 4933, 3688, 3246, 4138, 4291, 3257, 2453,
        3835,  673, 2339,  749, 1795, 2659, 4485, 1003, 4382, 1170, 3603,
        2975, 2378, 2347, 4704, 3507, 4836, 2632, 2083, 4358, 3427, 1119,
        3989, 1531, 4101, 3377, 3694, 2820, 3882, 1737, 3590, 1309, 1611,
        3744,  849, 1634, 2852, 2503, 3852, 2736, 4138, 2187, 2439, 2779,
         862, 1877, 1799, 1324, 3451, 4499, 1437, 4461, 1748, 2243, 1450,
        1154,  634, 4790, 2826, 1264,  881,  857, 3360, 4452, 2820, 2170,
        3597, 2640, 3659, 4332,  782, 2800, 1523, 1861, 3959, 2306, 4472,
        3101, 4008,  555, 2074, 3159, 1158, 4115, 1634, 4650, 1450, 2849,
        3011, 2787, 4330,  973, 3686, 3574,  889, 4512, 3044,  535, 4947,
         589, 2964, 4168, 3064, 1991, 3886, 1103, 3369, 1224, 2002, 3918,
        2994, 4589,  774, 3722, 3896, 4684, 4523, 1691, 1831, 2571,  645,
        4565, 4117, 3153, 2374,  854, 4343, 1763, 4134, 1706, 2083, 4707,
        4852, 2170, 2611, 4511, 2634, 2810, 2704, 1720, 2931,  532, 3903,
        3058, 3266, 2482, 1182,  724, 1302,  561, 2286,  832, 2232,  735,
        4528, 3687, 4585, 1632, 1963, 4827, 4815, 4903, 2464, 4569, 1377,
         791, 3540,  921, 3242, 3239, 3381, 4992, 1251, 4652, 3743, 3154,
         506, 3171, 3539, 2611, 2395, 1814, 2477, 3711, 4049, 1922, 1503,
        2202, 4590]])

In [7]:
yearly_data.shape

(2, 365)

In [8]:
yearly_data[0][0]

11

In [9]:
import pandas as pd

individuals = pd.DataFrame({'Daily Hours of Exercise':yearly_data[0],
                            'Daily Calories':yearly_data[1]})

individuals

     Daily Hours of Exercise  Daily Calories
0                         11            3412
1                          4            1582
2                          3            2725
3                          3            3944
4                          8            3371
..                       ...             ...
360                        5            4049
361                        5            1922
362                        8            1503
363                       11            2202
364                       10            4590

[365 rows x 2 columns]

In [10]:
individuals.loc[0,'Daily Calories']

3412

In [11]:
individuals[individuals['Daily Hours of Exercise'] == 7]

     Daily Hours of Exercise  Daily Calories
10                         7            4575
22                         7             968
46                         7            1088
51                         7            4759
59                         7            1360
72                         7            1984
84                         7            1349
86                         7            2625
124                        7            3621
143                        7            2582
162                        7            2446
190                        7            4704
192                        7            4836
200                        7            4101
203                        7            2820
210                        7             849
212                        7            2852
214                        7            3852
216                        7            4138
222                        7            1799
228                        7            1748
238                        7            3360
241                        7            2170
258                        7            1158
266                        7            4330
288                        7             774
316                        7            2931
339                        7            4569
341                        7             791
346                        7            3381
354                        7            3539
355                        7            2611
358                        7            2477

In [12]:
exer_average = yearly_data[0].mean()
cals_average = yearly_data[1].mean()

print('Calories AVG: {:.2f}\nExercise AVG: {:.2f}'.format(cals_average, exer_average))

Calories AVG: 2782.97
Exercise AVG: 6.26